.idea/*
__pycache__/
venv
.ipynb_checkpoints
log
temp/
.env
.scannerwork/
start.sh
stop.sh
/dataset/
/PhoBERT_base_fairseq/
/PhoBERT_base_transformers/
/synonyms_upsampling/vihsd/
/synonyms_upsampling/vihsd/*.txt
/synonyms_upsampling/vihsd/*.csv
/models/
*.egg-info
/cache/
.DS_Store