.idea/*
__pycache__/
venv
.ipynb_checkpoints
log
temp/
.env
.scannerwork/
start.sh
stop.sh
/dataset/
/PhoBERT_base_fairseq/
/PhoBERT_base_transformers/
/synonyms_upsampling/vihsd/
/synonyms_upsampling/vihsd/text_gen/
/models/
*.egg-info
/cache/
/crawler/text_crawler/
.DS_Store